.boards-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.board-container{
    flex: 1;
    display: flex;
    gap: 24px;
    width: 100%;
    padding-left: 1rem;
    padding-top: 1.5rem;
    overflow-x: auto;
    flex-wrap: nowrap; 
    align-items: stretch;
}

.column-container{
    min-width: 17.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    flex-shrink: 0;
    margin-bottom: 4rem;
}

.column-name-container{
    display: flex;
    gap:12px;
}

.column-color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.column-name{
    color: var(--color-secondary);
}

.add-column-btn{
    width: 17.5rem;
    min-width: 17.5rem;
    max-width: 17.5rem;
    height: auto;
    display: flex;
    flex-shrink: 0; 
    flex-grow: 1; 
    justify-content: center;
    align-items: center;
    background-color: var(--add-column-bg);
    color: var(--color-secondary);
    border-radius: 6px;
    margin-top: 35px;
    margin-right: 24px;
}

.add-column-btn:hover{
    color: var(--color-primary);
}

.task-card{
    width: 17.5rem;
    height: auto;
    background-color: var(--color-background-secondary);
    color: var(--color-text);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(var(--task-shadow), .1015);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 1.5rem 1rem;
    gap: 0.5rem;
    overflow: visible;
    cursor: pointer;
}

.task-card:hover h3{
    color: var(--color-primary);
}

.sub-task-count{
    color: var(--color-secondary);
}