.sidebar-container {
	width: 261px;
	background-color: var(--white);
	border-right: 1px solid var(--lines-light);
	display: grid;
	grid-template-rows: 4rem 1fr 3rem 3rem;
	padding-bottom: 2rem;
	transition: width 0.3s ease, opacity 0.3s ease;
}

.sidebar-hidden {
	width: 0;
	opacity: 0;
	overflow: hidden;
	transition: width 0.3s ease, opacity 0.3s ease;
}

.show-sidebar-container {
	width: 3.5rem;
	height: 3rem;
	background-color: var(--main-purple);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed; 
	left: 0; 
	bottom: 2rem; 
	cursor: pointer;
	transition: opacity 0.3s ease;
}

.show-sidebar-container:hover {
	background-color: var(--purple-hover);
}

.show-sidebar-container.visible {
	opacity: 1;
}

.show-sidebar-icon {
	width: 18px;
	height: 11px;
}

.sidebar-container > * {
	color: var(--medium-grey);
}

.board-count {
	margin-left: 24px;
	display: flex;
	align-items: center;
}

.sidebar-item-container {
	display: flex;
	flex-direction: column;
	padding-right: 24px;
}

.sidebar-item {
	height: 3rem;
	cursor: pointer;
}

.sidebar-item:hover:not(.selected) {
	background-color: rgba(99, 95, 199, 0.063);
	color: var(--main-purple);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

.selected {
	background-color: var(--main-purple);
	color: var(--white);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}

.item-content {
	margin-left: 24px;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.purple-text .item-label {
	color: var(--main-purple);
}

.icon {
	fill: var(--medium-grey);
}

.icon-add {
	fill: var(--main-purple);
}

.sidebar-item:hover .icon {
	fill: var(--main-purple);
}

.sidebar-item.selected .icon {
	fill: var(--white);
}

.create-board-btn {
	color: var(--main-purple);
	fill: var(--main-purple);
}

.theme-selector-container {
	height: 3rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1.5rem;
}

.theme-switch {
	height: 3rem;
	width: 13.25rem;
	background-color: var(--light-grey);
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--main-purple);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--white);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--main-purple);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--main-purple);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.theme-switch:hover .slider {
	background-color: var(--purple-hover);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
