/* ViewTask.css */
.task-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-title {
    margin: 0;
    color: var(--color-text);
}

.task-description {
    margin: 1rem 0;
    color: var(--color-secondary);
}

.sub-task-count {
    margin: 1rem 0;
}

.subtasks-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.subtask-item {
    display: flex;
    align-items: center;
    background-color: var(--color-background);
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    position: relative;
}

.subtask-checkbox {
    display: none;
}

.subtask-label {
    font-size: 1rem;
    color: var(--color-text-secondary);
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
}

.subtask-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    border: 1px solid var(--color-border);
    background-color: var(--color-background-secondary);
    transition: background-color 0.3s, border-color 0.3s;
}

.subtask-checkbox:checked + .subtask-label::before {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.icon-check {
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 10px;
    height: 8px;
}

.subtask-label.completed {
    text-decoration: line-through;
    color: var(--color-secondary);
}

.select-column-container {
    margin-top: 24px;
}

.select-status {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--color-border-light);
    background-color: var(--color-background-secondary);
    color: var(--color-text);
    appearance: none;
    background-image: url("../assets/icon-chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
}

.status-options {
    color: var(--color-secondary);
}
